div {
	text-align:left;
	}

input.test	{
	width: 90px;

}

input.email	{
	width: 275px;
}
input.ville {
	width: 135px;
}

div.shadowbox {
	width: 31em;
	border: 1px solid #333;
	padding: 16px 24px;
  }
  span {
	line-height: 25px;

  }